In [1]:
import pandas as pd

from pandas_datareader import data

/Users/vima/anaconda3/lib/python3.6/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
df_top40_jse_2019 = pd.read_csv("../data/stocks/top40_jse_2019.csv")
df_top40_jse_2019.head()

  JSE Code
0      PRX
1      BTI
2      ANH
3      NPN
4      BHP

In [3]:
# Define the companies to get
tickers = list(df_top40_jse_2019['JSE Code'].apply(lambda x: x + '.JO').values)
tickers[:10]

['PRX.JO',
 'BTI.JO',
 'ANH.JO',
 'NPN.JO',
 'BHP.JO',
 'CFR.JO',
 'GLN.JO',
 'AGL.JO',
 'AMS.JO',
 'FSR.JO']

In [4]:
# We would like all available data from 01/01/2000 until 12/31/2016.
start_date = '2020-01-01'
end_date = '2020-04-30'

In [5]:
stock_data = {}
for company in tickers:
    panel_data = data.DataReader(company, 'yahoo', start_date, end_date)
    stock_data[company.split('.')[0]] = panel_data

In [7]:
jse_40_performance = []
companies = []
for company in tickers:
    stock = company.split('.')[0]
    data = stock_data[stock]
    jse_40_performance.append(data['Close'].values)
    companies.append(stock)
    
df_jse_40_performance = pd.DataFrame(jse_40_performance).T
df_jse_40_performance.columns = companies
df_jse_40_performance.index =data.index
df_jse_40_performance.head()

,PRX,BTI,ANH,NPN,BHP,CFR,GLN,AGL,AMS,FSR,...,APN,CLS,QLT,SOL,NRP,BVT,NED,NHM,ASR,MEI
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,106850.0,60296.0,116505.0,233750.0,33346.0,11304.0,4467.0,40618.0,132856.0,6325.0,...,12230.0,25400.0,3010.0,30385.0,12565.0,20550.0,21751.0,12360.0,26909.0,7562.0
2020-01-03,106709.0,62209.0,118250.0,235400.0,33332.0,11157.0,4480.0,40559.0,134308.0,6231.0,...,12490.0,25504.0,3051.0,31200.0,12588.0,20563.0,21575.0,12751.0,26810.0,7583.0
2020-01-06,106500.0,62462.0,118885.0,234380.0,33293.0,10988.0,4413.0,40181.0,134720.0,6005.0,...,12033.0,25296.0,3027.0,31835.0,12424.0,20305.0,21155.0,12689.0,26268.0,7600.0
2020-01-07,108040.0,63650.0,118410.0,235810.0,33358.0,11211.0,4440.0,40064.0,133000.0,6040.0,...,12255.0,25474.0,3090.0,31535.0,12504.0,20408.0,21299.0,12707.0,26432.0,7557.0
2020-01-08,107693.0,64459.0,116181.0,232500.0,33529.0,11239.0,4464.0,40120.0,138341.0,6036.0,...,12000.0,25220.0,3100.0,31142.0,12500.0,20493.0,20982.0,13437.0,26178.0,7475.0

In [8]:
df_jse_40_performance.to_pickle("../data/stocks/top40_jse_2019_performance.df")
df_jse_40_performance.to_csv("../data/stocks/top40_jse_2019_performance.csv")

In [10]:
pd.read_csv("../data/stocks/top40_jse_2019_performance.csv")

,Date,PRX,BTI,ANH,NPN,BHP,CFR,GLN,AGL,AMS,...,APN,CLS,QLT,SOL,NRP,BVT,NED,NHM,ASR,MEI
0,2020-01-02,106850.0,60296.0,116505.0,233750.0,33346.0,11304.0,4467.0,40618.0,132856.0,...,12230.0,25400.0,3010.0,30385.0,12565.0,20550.0,21751.0,12360.0,26909.0,7562.0
1,2020-01-03,106709.0,62209.0,118250.0,235400.0,33332.0,11157.0,4480.0,40559.0,134308.0,...,12490.0,25504.0,3051.0,31200.0,12588.0,20563.0,21575.0,12751.0,26810.0,7583.0
2,2020-01-06,106500.0,62462.0,118885.0,234380.0,33293.0,10988.0,4413.0,40181.0,134720.0,...,12033.0,25296.0,3027.0,31835.0,12424.0,20305.0,21155.0,12689.0,26268.0,7600.0
3,2020-01-07,108040.0,63650.0,118410.0,235810.0,33358.0,11211.0,4440.0,40064.0,133000.0,...,12255.0,25474.0,3090.0,31535.0,12504.0,20408.0,21299.0,12707.0,26432.0,7557.0
4,2020-01-08,107693.0,64459.0,116181.0,232500.0,33529.0,11239.0,4464.0,40120.0,138341.0,...,12000.0,25220.0,3100.0,31142.0,12500.0,20493.0,20982.0,13437.0,26178.0,7475.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2020-04-23,139654.0,69177.0,82000.0,291192.0,30637.0,10454.0,3445.0,32889.0,91575.0,...,10851.0,26045.0,2712.0,6640.0,8157.0,14061.0,9000.0,9232.0,31790.0,5637.0
79,2020-04-24,139356.0,69289.0,78906.0,290400.0,30321.0,10187.0,3450.0,32957.0,93520.0,...,10989.0,22902.0,2770.0,6700.0,7891.0,14175.0,8798.0,9265.0,31555.0,5750.0
80,2020-04-28,139188.0,72334.0,85545.0,295000.0,30694.0,10557.0,3351.0,33339.0,89656.0,...,11083.0,23064.0,2868.0,7725.0,7764.0,14658.0,9740.0,8875.0,31490.0,5834.0
81,2020-04-29,135508.0,71246.0,88978.0,292300.0,31743.0,10582.0,3523.0,34681.0,98200.0,...,11082.0,24159.0,2905.0,8500.0,8000.0,15411.0,10234.0,9736.0,31668.0,5825.0
82,2020-04-30,137625.0,70803.0,83526.0,289886.0,31045.0,10418.0,3415.0,32910.0,97653.0,...,11564.0,23071.0,2845.0,8726.0,7990.0,15055.0,10721.0,9245.0,31604.0,5774.0

In [ ]:
""