In [1]:
import pandas as pd

from pandas_datareader import data

In [2]:
df_top40_jse_latest = pd.read_csv("../data/stocks/top40_jse_2021.csv")
df_top40_jse_latest.head()

  JSE Code
0      PRX
1      ANH
2      NPN
3      BTI
4      GLN

In [4]:
# Define the companies to get
tickers = list(df_top40_jse_latest['JSE Code'].apply(lambda x: x + '.JO').values)
tickers[:10]

['PRX.JO',
 'ANH.JO',
 'NPN.JO',
 'BTI.JO',
 'GLN.JO',
 'CFR.JO',
 'BHP.JO',
 'AGL.JO',
 'AMS.JO',
 'FSR.JO']

In [6]:
# We would like all available data from the first 5 months
start_date = '2021-01-01'
end_date = '2021-05-31'

In [7]:
stock_data = {}
for company in tickers:
    panel_data = data.DataReader(company, 'yahoo', start_date, end_date)
    stock_data[company.split('.')[0]] = panel_data

In [8]:
jse_40_performance = []
companies = []
for company in tickers:
    stock = company.split('.')[0]
    data = stock_data[stock]
    jse_40_performance.append(data['Close'].values)
    companies.append(stock)
    
df_jse_40_performance = pd.DataFrame(jse_40_performance).T
df_jse_40_performance.columns = companies
df_jse_40_performance.index =data.index
df_jse_40_performance.head()

,PRX,ANH,NPN,BTI,GLN,CFR,BHP,AGL,AMS,FSR,...,PPH,OMU,BVT,CLS,REM,MCG,MRP,ARI,WHL,EXX
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-04,159202.0,103934.0,303695.0,55100.0,4964.0,13462.0,40605.0,51374.0,151216.0,4950.0,...,1326.0,1164.0,15526.0,25368.0,9510.0,13301.0,16689.0,27553.0,3907.0,14894.0
2021-01-05,165757.0,105282.0,311667.0,56900.0,5105.0,13747.0,41750.0,52356.0,145650.0,4811.0,...,1302.0,1134.0,15081.0,25628.0,9516.0,13335.0,16458.0,27610.0,3837.0,14546.0
2021-01-06,165753.0,108600.0,310100.0,57834.0,5612.0,13615.0,44140.0,55970.0,146903.0,4878.0,...,1300.0,1152.0,15414.0,25543.0,9600.0,13299.0,16156.0,27285.0,3801.0,14741.0
2021-01-07,160297.0,110500.0,301375.0,58404.0,5777.0,14368.0,45777.0,58548.0,151000.0,5038.0,...,1292.0,1200.0,15452.0,25396.0,9820.0,13666.0,16027.0,28067.0,3819.0,15499.0
2021-01-08,160091.0,107658.0,307027.0,58130.0,5692.0,14348.0,45615.0,58217.0,149548.0,5231.0,...,1347.0,1206.0,15736.0,26241.0,10043.0,13987.0,16661.0,28850.0,4016.0,15761.0

In [9]:
df_jse_40_performance.to_pickle("../data/stocks/top40_jse_2021_performance.df")
df_jse_40_performance.to_csv("../data/stocks/top40_jse_2021_performance.csv")

In [10]:
pd.read_csv("../data/stocks/top40_jse_2021_performance.csv")

,Date,PRX,ANH,NPN,BTI,GLN,CFR,BHP,AGL,AMS,...,PPH,OMU,BVT,CLS,REM,MCG,MRP,ARI,WHL,EXX
0,2021-01-04,159202.0,103934.0,303695.0,55100.0,4964.0,13462.0,40605.0,51374.0,151216.0,...,1326.0,1164.0,15526.0,25368.0,9510.0,13301.0,16689.0,27553.0,3907.0,14894.0
1,2021-01-05,165757.0,105282.0,311667.0,56900.0,5105.0,13747.0,41750.0,52356.0,145650.0,...,1302.0,1134.0,15081.0,25628.0,9516.0,13335.0,16458.0,27610.0,3837.0,14546.0
2,2021-01-06,165753.0,108600.0,310100.0,57834.0,5612.0,13615.0,44140.0,55970.0,146903.0,...,1300.0,1152.0,15414.0,25543.0,9600.0,13299.0,16156.0,27285.0,3801.0,14741.0
3,2021-01-07,160297.0,110500.0,301375.0,58404.0,5777.0,14368.0,45777.0,58548.0,151000.0,...,1292.0,1200.0,15452.0,25396.0,9820.0,13666.0,16027.0,28067.0,3819.0,15499.0
4,2021-01-08,160091.0,107658.0,307027.0,58130.0,5692.0,14348.0,45615.0,58217.0,149548.0,...,1347.0,1206.0,15736.0,26241.0,10043.0,13987.0,16661.0,28850.0,4016.0,15761.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,2021-05-25,144674.0,105171.0,305235.0,54400.0,5993.0,15862.0,40554.0,60650.0,171956.0,...,1793.0,1365.0,18555.0,25272.0,11781.0,13234.0,19317.0,26199.0,5137.0,15180.0
98,2021-05-26,142851.0,105200.0,302920.0,54229.0,5933.0,16200.0,40427.0,59624.0,170499.0,...,1779.0,1355.0,18614.0,25635.0,12002.0,13466.0,19734.0,25161.0,5172.0,15000.0
99,2021-05-27,140172.0,104929.0,298000.0,53791.0,6249.0,16308.0,41858.0,61770.0,172500.0,...,1939.0,1372.0,19083.0,25474.0,12000.0,13822.0,22047.0,26404.0,5264.0,15030.0
100,2021-05-28,143191.0,104575.0,303577.0,53050.0,6298.0,16771.0,41624.0,61242.0,173748.0,...,2013.0,1430.0,19449.0,25944.0,12100.0,13671.0,23180.0,26203.0,5565.0,15200.0
101,2021-05-31,143019.0,103500.0,304994.0,52689.0,6453.0,16680.0,42065.0,62080.0,181869.0,...,2005.0,1430.0,19424.0,25750.0,11963.0,13783.0,23330.0,26594.0,5575.0,15385.0