In [13]:
import pandas as pd

from pandas_datareader import data

In [14]:
df_top40_jse_latest = pd.read_csv("../data/stocks/top40_jse_2021.csv")
df_top40_jse_latest.head()

  JSE Code
0      PRX
1      ANH
2      NPN
3      BTI
4      GLN

In [15]:
# Define the companies to get
tickers = list(df_top40_jse_latest['JSE Code'].apply(lambda x: x + '.JO').values)
tickers[:10]

['PRX.JO',
 'ANH.JO',
 'NPN.JO',
 'BTI.JO',
 'GLN.JO',
 'CFR.JO',
 'BHG.JO',
 'AGL.JO',
 'AMS.JO',
 'FSR.JO']

In [16]:
# We would like all available data from the first 4 months
start_date = '2022-01-01'
end_date = '2022-04-30'

In [ ]:
stock_data = {}
for company in tickers:
    panel_data = data.DataReader(company, 'yahoo', start_date, end_date)
    stock_data[company.split('.')[0]] = panel_data

In [ ]:
jse_40_performance = []
companies = []
for company in tickers:
    stock = company.split('.')[0]
    data = stock_data[stock]
    jse_40_performance.append(data['Close'].values)
    companies.append(stock)
    
df_jse_40_performance = pd.DataFrame(jse_40_performance).T
df_jse_40_performance.columns = companies
df_jse_40_performance.index =data.index
df_jse_40_performance.head()

In [ ]:
df_jse_40_performance.to_pickle("../data/stocks/top40_jse_2022_performance.df")
df_jse_40_performance.to_csv("../data/stocks/top40_jse_2022_performance.csv")

In [ ]:
pd.read_csv("../data/stocks/top40_jse_2022_performance.csv")